%h3 About the Program

%p This program was designed as a way to build a solid operator base of fitness. We pulled material from these sources: 
%ul
  %li 
    %a{href: "gymjones.com"}Mark Twight
  %li 
    %a{href: "mtnathlete.com"}Rob Shauls
  %li 
    %a{href: "crossfit.com"}Greg Glassman
  %li 
    %a{href: "danjohn.net"}Dan John
  %li 
    %a{href: "athleticperformanceinc.biz"}Scott Ramsdell 
%p We combined the idea behind the Gym Jones three-month operator fitness program, a lot of Mountain Athlete workouts, some Crossfit WOD and API workouts and turned them into a four-month workout program that has numerous options each day so that you could use it for 2-3 rotations and not become bored with it.

%p Our goals specifically in making this program are to be able to DL 2.5x, Front Squat 1.5x, Bench 1.5x, Military Press 1x our BW and still be the cardio shape to run 3 miles easily in under 20:00. Also, we will have a score of at least 200 on the SSST. Whatever your individual goals are just tweak this program towards them in order to achieve them within 4 months.

%p 
  Mountain Athlete is a great new reference for Team guys, especially Lead Climbers for sport/job/event specific workouts. This website is a great source for new workouts that you can add continuously into this program. They started in February 2007 and are based in Jackson, Wyoming.
  %a{href: "apivirginiabeach.com"} API 
  is another up and coming gym, there is one starting soon in VB, that's run by a Team guy and his wife. Thanks to all for providing workouts.

%p Most of the Sport Specific workouts were created by us, the Horsemen, and if you don’t like them then fuck you, you’re a pussy. These are really the only original material in this entire document almost everything else was copied from existing programs run by professionals who know what they’re doing and cobbled together by us.

%p The suggested playlist was created by us and we stand by it. You will be able to lift more for a longer period of time if you listen to what we’ve suggested and again, if you don’t like it, fuck you, you’re a pussy.

%p We subscribe to the philosophy that Team guys need to be physically ready to handle any task and therefore it is imperative for us to have an elite level of fitness over a broad base. We are obviously not Olympic Weightlifters, Sprinters, Marathon runners or World class mountain climbers. However, we do need to be able to function at a slightly less elite level in each of these disciplines (i.e. throw a lot of weight around, sprint to HLZ’s, and operate in extreme environments.) This program is designed to meet and exceed these goals.

%p So if you’re not pussy and looking for a new, interesting, challenging workout program, enjoy!

%a{href: '/'}Home

%footer
  %h6 
    built by
    %a{href: "https://twitter.com/chrisbodhi"} @chrisbodhi