%h1 Endurance

%h3= endurance_check(Time.now.day)[0]
%h4= endurance_check(Time.now.day)[1]

%h3 Outline for the Month
%ul
  %li 4x Power Endurance Every 14 Days
  %li 2x Strength Maintenance Every 14 Days
  %li 2x Job Specific Every 14 Days
  %li 1x Endurance (+ 60 Min) Every 14 Days
  %li 1x Recovery Every 14 Days

%a{href: '/'} Home