%h1 Endurance

%h3= endurance_check(Time.now.day)[0]
%h4= endurance_check(Time.now.day)[1]

%h3 Outline for the Month
%ul
  %li 8x Power Endurance 
  %li 4x Strength Maintenance 
  %li 4x Job Specific 
  %li 2x Endurance (+ 60 Min) 
  %li 2x Recovery

%a{href: '/'} Home