%h3 DEFINITIONS

%h4 BARBELL COMPLEX
%p 6 REPS OF EACH
Dead Lift (DL) Bent over Row Hang Power Clean Front Squat
Push Press Back Squat Push up
Grab the barbell, sprint through...don’t put the bar down till the pushups. Typically you will do 4 rounds of this complex and load the bar progressively through each. If you are working on Working Load Strength then use (85#, 95#, 105#, 115#) as a start point and go higher or lower in weight depending on your goals and overall level of fitness.

%h4 SLASHER TO HALO
%p Start with both hands cradling the handle as if you were doing a goblet squat. Drop the KB down to your right hip. Slash it across your body to your left shoulder then continue to move the KB around the back of your head and bring it over your right shoulder then slash it back down to your left hip, then repeat the movement in the opposite direction.

%h4 TURKISH GET UP
%p see crossfit.com “how to” videos. Lay on your back and press the weight straight up like a bench press with one arm, keep full arm extension while you get up to your feet, arm always remains extended straight overhead. Once you have come up to a standing position you lower yourself back down to the start point (that’s one rep) and repeat. You can either transition to a knee on the way up and down or if you want to make it more difficult come straight up to the standing position.

%h4 JINGLE JANGLES
%p 5 yard back and forth sprint. Set up 2 cones and sprint back and forth between them, touching the ground at each cone.

%h4 12 MINUTE KB COMPLEX
%p There are multiple 12 minute KB complexes that can be done for a warm up, it’s up to the individual operator’s imagination as to how many different combo’s you can come up with.

The most common are:
Around the world, figure 8’s, snatches and step ups with a 53# KB; 1 minute of each, 4 rounds, do not put the KB down during session.
1 arm swing, figure 8, 1 arm swing, figure 8, 1 arm Clean/Press, Slasher to halo, 1 arm Clean/Press, Slasher to halo, KB
snatch, Lunge, KB snatch, Lunged (1 min of each @ 35#)

%h4 WEIGHT LOADING
%p If there’s no load prescribed (or height for box jumps) then it’s on you to do what you feel you can for the workout. If you’ve been killing yourself and you need a break then go light. If it’s low reps with low number of rounds then the exercise should be performed at a higher weight.

%h4 FINGER BOARD
%p The finger board can be found in Pad # 2 first section of Camp Lewis. (Order online from REI for about $80) 

%h4 DUMBELL CRAWL
%p Bear crawl while holding DB’s. 

%h4 LEG BLASTER
%p 1X = 20X Squat 10X Lunges each leg 10X Jumping lunges each leg 10X Squat Jumps
  %h4 mini leg blaster is 1⁄2 of a leg blaster (reduce each number by 1⁄2)

%h4 ROCK, SQUAT, &amp; CARRY
%p Pick up heavy Rock and Squat 3x, and carry 100m 

%h4 WTFYFLDOYOFT
%p Whatever the fuck you feel like doing on your own free time. If you are unclear about something or don’t understand the workout then pick a different one or be a Team guy and make it up. 

%h4 CURTIS P
%p At Prescribed Weight
%ul  
  %li Hang Squat Clean (HSC) 
  %li Lunge Forward Right leg 
  %li Lunge Forward Left leg 
  %li Push Press

%h4 MR. SPECTACULAR
%p 2 Hand KB Clean/Press then put down KB’s and walk out on hands into push up position, do push up, walk back up on hands and grab KB’s then repeat.

%h4 SHOULDER MOBILITY DRILL (SAM)
%p use PVC pipe 
%ul
  %li 5x Pole Press
  %li 3x Halo
  %li 5x Overhead Squat (OHS)

%h4 HALF MOONS
%p Put a sandbag on one side of your body, reach over, pick it up taking it high over your head, and placing it down on the other side.

%h4 RENAGADE MAN MAKERS
%p Take 2 Dumbbells (DB), usually @ 25# and start standing up with DB’s on ground. Kneel down and grab DB’s, do a power clean and press with them, then drop down into push up position, do push up, then row once with each arm. Bring legs back up underneath you and repeat. (Check out gymjones.com for pictures)

%h4 SANDBAG DOUBLE EAGLE (you have one sandbag and a tire set up for drag)
%p Clean Sandbag to shoulder, pull it around neck and do 10X deep squats and drag tire/sled forward 40 ft with bag on shoulders. Put SB in tire and drag to start point (SP), pull backwards.

When you see the # sign it’s an easy way to type pounds, i.e. 53# KB = use 53 lb Kettle ball.

When you see the @ symbol it just means “use”, i.e. @ 2x 53# KB = use 2 53 pound Kettle balls for this exercise, it can also mean “at”, i.e. @ 85% 1RM = do this exercise at 85 percent of you 1 rep max.

Almost any workout that can be done with a KB can also be done using a DB. 

%h4 HSPU
%p Hand Stand Push ups 

%h4 MUTANT MAKER 
%p Clean to Thruster 

%h4 HSC
%p Hang Squat Clean

%h4 KB PULL
%p Grab single or dual KB’s and perform the same movement as a Sumo Dead Lift High pull

%h4 SDHP
%p Sumo Dead lift High Pull, Feet are out wide, hands gripped close together on barbell. Perform an explosive movement up so that hands come up right under the chin and elbows are up high by head. The first part of the movement is similar to a DL, like the name implies, and then the explosive movement similar to a clean or snatch except feet do not come off the ground.

%h4 OHS
%p Overhead Squat, Bring the BB/DB/KB up above your head with your arms locked out and perform a deep squat. 

%h4 THE EXERCISE
%p Designed by Dan John, perform a snatch and without bringing the weight back down perform an OHS. That’s one rep. 
DB – Dumbbell 
BB- Barbell 
KB - Kettle bell If you don’t have a Rope to climb to do the exercises as prescribed then do 10x Pull ups instead.

If you have no sled do 40 sec. Jingle jangles, (5 yard sprint, back and forth) instead. 

If you have no balls, then you’re a girl.