%head
  %link{rel: "stylesheet", href: "/normalize.css"}
  %link{rel: "stylesheet", href: "/foundation.min.css"}
  %link{rel: "stylesheet", href: "/style.css"}

%body
  .row.topbar
    .large-10.medium-10.small-10.columns.a
      %a{href: '/about'} about
    .large-2.medium-2.small-2.columns.end
      %a{href: '/glossary'} glossary

  - unless Time.now.day % 7 == 0
    .row
      .large-centered.medium-centered.columns   
        %h3 
          Daily Warm-Up
        .warmup
          = @warmup.movement


    .row
      .large-centered.medium-centered.columns
        %h4 Month
        %a.month{href: "/strength"} Strength
        %a.month{href: "/endurance"} Power Endurance
        %a.month{href: "/job"} Job-Specific
        %a.month{href: "/maintain"} Maintainence

  - else
    %h3 Rest Day