%h2 The Horsemen Cometh

%h4= Time.now.day

%form{action: "/submit", method: "POST"}
  %input{type: "text", name: "warmup[title]", value: "Title"}
  %input{type: "text", name: "warmup[rounds]", value: "Rounds"}
  %input{type: "text", name: "warmup[reps]", value: "Reps"}
  %input{type: "text", name: "warmup[movement]", value: "Movement", size: "100"}
  %input{type: "text", name: "warmup[weight]", value: "Weight"}
  %input{type: "text", name: "warmup[description]", value: "Desc", size: "100"}
  %input{type: "text", name: "warmup[length]", value: "Length"}
  %input{type: "url", name: "warmup[example]", value: "Example URL"}
  %input{type: "submit", value: "Get fit!"}