%h1 Strength

%h3= strength_check(Time.now.day)[0]
%h4= strength_check(Time.now.day)[1].title

%h3 Outline for the Month
%ul
  %li 4x Strength Every 14 Days
  %li 2x Recovery Every 14 Days 
  %li 2x Job Specific Every 14 Days 
  %li 2x Power Endurance

%a{href: '/'} Home
